NEXT_PUBLIC_APP_MODE=demo
MIDNIGHT_NETWORK_ID=undeployed
COVENANT_WEB_PORT=9923
COVENANT_PROOF_PORT=16300
COVENANT_INDEXER_PORT=18088
COVENANT_NODE_PORT=19944
MIDNIGHT_INDEXER_URL=http://indexer:8088/api/v4/graphql
MIDNIGHT_INDEXER_WS_URL=ws://indexer:8088/api/v4/graphql/ws
MIDNIGHT_NODE_URL=ws://node:9944
MIDNIGHT_PROOF_SERVER_URL=http://proof-server:6300
MIDNIGHT_CONTRACT_ADDRESS=
MIDNIGHT_WALLET_SEED=
